<div class="button-menu">
  <button  (click)="addClicked()" class="btn" type="button" name="button">{{childShowAdd ? "Click to Hide Add Menu" : "Click to add new Animal to List"}}</button>
  <label for="option-menu">Filter Results:</label>
  <select name="option-menu" (change)="onChange($event.target.value)">
    <option selected="selected" value="allAnimals">All Animals</option>
    <option value="youngerAnimals">Young Animals</option>
    <option value="olderAnimals">Old Aimals</option>
    <option value="onlyMale">Male Animals</option>
    <option value="onlyFemale">Female Animals</option>
    <option value="onlyPlants">Vegetarians</option>
    <option value="onlyMeat">Carnivores</option>
  </select>
</div>
<div class="inventory">
  <table id="animal-table">
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Age</th>
      <th>Diet</th>
      <th>Location</th>
      <th>Caretakers</th>
      <th>Gender</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th>Edit?</th>
      <th>Delete?</th>
    </tr>
    <tr *ngFor="let currentAnimal of childAnimalList | filter: filterByFullList; let i = index">
      <td>{{currentAnimal.name}}</td>
      <td>{{currentAnimal.species}}</td>
      <td>{{currentAnimal.age}}</td>
      <td>{{currentAnimal.diet}}</td>
      <td>{{currentAnimal.location}}</td>
      <td class="text-center">{{currentAnimal.caretakers}}</td>
      <td>{{currentAnimal.sex}}</td>
      <td>{{currentAnimal.likes}}</td>
      <td>{{currentAnimal.dislikes}}</td>
      <td><button (click)="editAnimalClick(currentAnimal)" class="btn" type="button" name="button">Click to Edit Animal</button></td>
      <td class="remove"><button (click)="deleteAnimalClicked(i)" class="btn"type=" button" name="button">X</button></td>
    </tr>
  </table>
</div>
