<section *ngIf="childShowAdd" class="new-animal">
  <h2>Add a new animal to the Zoo-Prison industrial System</h2>
  <form>
    <div class="row">
      <div class="col">
        <label>Species</label>
        <input  class="form-control" #newAnimalSpecies>
      </div>
      <div class="col">
        <label>Name</label>
        <input class="form-control" #newAnimalName>
      </div>
      <div class="col">
        <label>Age</label>
        <input type="number" class="form-control" #newAnimalAge>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Diet</label>
        <select class="form-control" #newAnimalDiet>
          <option value="Herbivore">Herbivore</option>
          <option value="Carnicore">Carnivore</option>
          <option value="Omnivore">Omnivore</option>
        </select>
      </div>
      <div class="col">
        <label>Location</label>
        <select class="form-control" #newAnimalLocation>
          <option value="North Prison">North Prison</option>
          <option value="South Entry">South Entry</option>
          <option value="West Prison">West Prison</option>
          <option value="North Feature">North Feature</option>
        </select>
      </div>
      <div class="col">
        <label>Caretakers</label>
        <input type="number" class="form-control" #newAnimalCaretakers>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Sex</label>
        <select class="form-control" #newAnimalSex>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>
      </div>
      <div class="col">
        <label>Likes</label>
        <input class="form-control" #newAnimalLikes>
      </div>
      <div class="col">
        <label>Dislikes</label>
        <input class="form-control" #newAnimalDislikes>
      </div>
    </div>
    <div class="form-button">
      <button class="btn" type="button" (click)="closeMenu()" (click)="submitAnimal(newAnimalSpecies.value,            newAnimalName.value, newAnimalAge.value, newAnimalDiet.value, newAnimalLocation.value, newAnimalCaretakers.value, newAnimalSex.value, newAnimalLikes.value, newAnimalDislikes.value);
      newAnimalSpecies.value=''; newAnimalName.value=''; newAnimalAge.value=''; newAnimalDiet.value=''; newAnimalLocation.value=''; newAnimalCaretakers.value=''; newAnimalSex.value=''; newAnimalLikes.value=''; newAnimalDislikes.value=''; ">Add new Animal!</button>
    </div>
  </form>
</section>
