<div *ngIf="childSelectedAnimal" class="edit">
  <h2>Make changes to {{childSelectedAnimal.name}}'s Information</h2>
  <div class="row">
    <div class="col">
      <label>Enter Animal Name:</label>
      <input class="form-control" [(ngModel)]="childSelectedAnimal.name">
    </div>
    <div class="col">
      <label>Enter Animal Age:</label>
      <input type="number" class="form-control" [(ngModel)]="childSelectedAnimal.age">
    </div>
    <div class="col">
      <label>Enter Animal Caretakers:</label>
      <input type="number" class="form-control" [(ngModel)]="childSelectedAnimal.caretakers">
    </div>
  </div>
  <div class="button-edit">
    <button class="btn" type="button" name="button" (click)="finishedEditingClicked()">Done Editing</button>
  </div>
</div>
